# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
.next/
out/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Testing
coverage/

.vercel
